{% extends 'base.html' %}

{% block title %}accueil{% endblock %}

{% block content %}

<div class="pb-16 mx-16 ">
    <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
        Zone Bourse  Afridemia
    </div>
    <div class="mt-4 flex space-x-4">
        
        <a href="{% url 'saisie_bourse' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Bourse</a>
        <a href="{% url 'liste_bourse' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Bourse pour entite</a>
        <a href="{% url 'liste_bourse_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher detail Bourse createur</a>
        
    </div>

</div>

<div class="pb-16 mx-16 ">
    <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
        Zone Archive  Afridemia
    </div>
    <div class="mt-4 flex space-x-4">
        
        <a href="{% url 'saisie_archive' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Archive</a>
        <a href="{% url 'liste_archive' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Archive pour entite</a>        
        <a href="{% url 'liste_archive_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Archive pour Admin</a>        
    </div>
</div>

<div class="pb-16 mx-16 ">
    <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
        Zone Event Afridemia
    </div>
    <div class="mt-4 flex space-x-4">
        
        <a href="{% url 'saisie_event' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Event</a>
        <a href="{% url 'liste_event' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Event pour entite</a>        
        <a href="{% url 'liste_event_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher event pour Admin</a>        
    </div>
</div>

{% endblock %}






