{% extends 'base.html' %}

{% block title %}accueil{% endblock %}

{% block content %}

<div class="pb-16 mx-16">
    <div class="bg-blue-500 text-white p-4">
        Formulaire d'Archives
    </div>
    
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
    </form>
    
    <h2 class="bg-lime-500 text-white p-4 items-center text-center">Liste d'Archives</h2>
    
    {% for bursary in bursaries %}
        <h2>{{ bursary.title }}</h2>
        <p>Domaine: {{ bursary.domain }}</p>
        <p>ti: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <p>Type: {{ bursary.type }}</p>
        <!-- Affichez d'autres champs de la bourse ici selon vos besoins -->
    {% empty %}
        <p>Aucune Archive disponible.</p>
    {% endfor %}
</div>






<div class="">
    <div class="bg-blue-500 text-white p-4">
        Formulaire Evenement
    </div>
    
    <form method="post" novalidate>
        {% csrf_token %}
        {{ formulaire.as_p }}
        <button type="submit" class="">Ajouter</button>
    </form>
    
    <h2 class="bg-lime-500 text-white p-4 items-center text-center">Liste des evenements</h2>
    <ul>
        {% for evenement in evenements %}
            <li>{{ evenement.nom }} - {{ evenement.lieu }}</li>
            <!-- Affichez d'autres champs ici -->
        {% empty %}
            <li>Aucun événement disponible.</li>
        {% endfor %}
    </ul>
    
    {% endblock %}
</div>

