{% extends 'base.html' %}

{% block title %}Bourse{% endblock %}

{% block content %}
    <section class="grid sm:grid-cols-1 lg:grid-cols-3 lg:h-screen bg-zinc-500 gap-4">
        <div class="hidden lg:block lg:col-span-1 p-4  rounded-lg">
            <div class="p-4 bg-sky-950  rounded-lg">

                <form method="GET" action="">
                    <!-- Champ Titre -->
                    
                    <input type="text" id="titre" name="titre"  placeholder="titre" class="w-full p-2 border rounded-md">
            
                    <!-- Champ Domaine (Liste déroulante) -->
                    <select id="domaine" name="domaine" placeholder="Domaine" class="w-full p-2 my-4 border rounded-md">
                        <option value="domaine1">Domaine 1</option>
                        <option value="domaine2">Domaine 2</option>
                        <option value="domaine3">Domaine 3</option>
                        <!-- Ajoutez autant d'options que nécessaire -->
                    </select>
            
                    <!-- Champ Type -->
                    <input type="text" id="type" name="type" placeholder="Type" class="w-full p-2 border rounded-md">
            
                    <!-- Bouton de Recherche -->
                    <button type="submit" class="mt-4 p-2 bg-blue-500 text-white rounded-md hover:bg-blue-700">Rechercher</button>
                </form>
            
            </div>
        </div>
        <div class="col-span-1 h-screen lg:col-span-2 text-white p-4  rounded-lg">
            <h2 class="border-b-2 text-center">
                Bourse
            </h2>

            <div class="mt-2 overflow-y-auto h-full">
                <ul class="grid grid-cols-3 gap-4">
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                    <li class="h-56 w-60 bg-slate-600 text-center items-center">
                        bourse
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}