{% extends 'base.html' %}

{% block title %}Archive{% endblock %}

{% block content %}

<div class="pb-16">
    <div class="bg-blue-500 text-white p-4 text-center">
        Formulaire Archive
    </div>
  
    {% load crispy_forms_tags %}
    {% load widget_tweaks %}
    
    <div class="mx-96">
        <div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="m-4">
                        {{ field.label_tag }}
                        {% render_field field class="w-full h-full rounded-lg outline-none border border-solid border-gray-800 rounded-3xl text-base font-normal py-4 px-4 border-b border-gray-400 focus:border-gray-800 focus:border-b-2"|add_class:"my-custom-class" %}
                        {% if field.help_text %}
                            <small class="block w-full h-full rounded-lg outline-none border border-solid border-gray-800 rounded-3xl text-base font-normal py-0 px-4 border-b border-gray-400 focus:border-gray-800 focus:border-b-2">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="items-center text-center justify-center bg-blue-500 text-white px-4 py-2 rounded">Ajouter</button>
            </form>
        </div>
    </div>
</div>

    
{% endblock %}

